In [1]:
from datetime import date
from analytics import weekly

NAME: In Helper: common.helper
NAME: In TEST_Helper: common.test_helper
NAME: In TEST_Daily: analytics.test_daily

In [2]:
t_start_date = date(2023, 12, 10)
filter = {
    "start_date": t_start_date,
    "stock_type": "FNO",
    "duration": "WEEK",
}

In [3]:
data = weekly.weekly_price_gainers(filter)

File: weekly.py Module: weekly_price_gainers filter: [{'start_date': datetime.date(2023, 12, 10), 'stock_type': 'FNO', 'duration': 'WEEK'}]
File: weekly.py Module: weekly_price_gainers Start of weekly price gainers
File: helper.py Module: prepare_weekly_data: arg_date: [2023-12-10]
File: helper.py Module: compose_weekly_csv_names arg_date: [2023-12-10]
File: helper.py Module: compose_weekly_csv_names: csv_file_names: [['cm04DEC2023bhav.csv', 'cm05DEC2023bhav.csv', 'cm06DEC2023bhav.csv', 'cm07DEC2023bhav.csv', 'cm08DEC2023bhav.csv']]
File: helper.py Module: prepare_weekly_data: daily_file_names: [['cm04DEC2023bhav.csv', 'cm05DEC2023bhav.csv', 'cm06DEC2023bhav.csv', 'cm07DEC2023bhav.csv', 'cm08DEC2023bhav.csv']]
File: helper.py Module: is_csv_file_name_valid: input csv_name: [cm04DEC2023bhav.csv]
File: helper.py Module: is_csv_file_name_valid: Valid csv_name: [cm04DEC2023bhav.csv]
File: helper.py Module: get_date_from_csv: Returning date: [2023-12-04] for a valid csv: [cm04DEC2023bhav.csv]
File: helper.py Module: is_trading_date_valid: date passed: [2023-12-04]
File: helper.py Module: is_csv_file_name_valid: input csv_name: [cm05DEC2023bhav.csv]
File: helper.py Module: is_csv_file_name_valid: Valid csv_name: [cm05DEC2023bhav.csv]
File: helper.py Module: get_date_from_csv: Returning date: [2023-12-05] for a valid csv: [cm05DEC2023bhav.csv]
File: helper.py Module: is_trading_date_valid: date passed: [2023-12-05]
File: helper.py Module: is_csv_file_name_valid: input csv_name: [cm06DEC2023bhav.csv]
File: helper.py Module: is_csv_file_name_valid: Valid csv_name: [cm06DEC2023bhav.csv]
File: helper.py Module: get_date_from_csv: Returning date: [2023-12-06] for a valid csv: [cm06DEC2023bhav.csv]
File: helper.py Module: is_trading_date_valid: date passed: [2023-12-06]
File: helper.py Module: is_csv_file_name_valid: input csv_name: [cm07DEC2023bhav.csv]
File: helper.py Module: is_csv_file_name_valid: Valid csv_name: [cm07DEC2023bhav.csv]
File: helper.py Module: get_date_from_csv: Returning date: [2023-12-07] for a valid csv: [cm07DEC2023bhav.csv]
File: helper.py Module: is_trading_date_valid: date passed: [2023-12-07]
File: helper.py Module: is_csv_file_name_valid: input csv_name: [cm08DEC2023bhav.csv]
File: helper.py Module: is_csv_file_name_valid: Valid csv_name: [cm08DEC2023bhav.csv]
File: helper.py Module: get_date_from_csv: Returning date: [2023-12-08] for a valid csv: [cm08DEC2023bhav.csv]
File: helper.py Module: is_trading_date_valid: date passed: [2023-12-08]
File: helper.py Module: prepare_weekly_data: Total Symbols: [1812]
File: helper.py Module: prepare_weekly_data: Preparing Weekly Data

In [4]:
data

{'gainers':           symbol start_date      open     high       low     close  \
 0      20MICRONS 2023-12-04    178.15    197.0    162.60    182.80
 1     21STCENMGM 2023-12-04     24.75     26.7     24.75     26.70
 2         360ONE 2023-12-04    608.95    657.8    597.25    647.55
 3      3IINFOLTD 2023-12-04     45.10     47.8     43.35     44.90
 4        3MINDIA 2023-12-04  31088.45  31650.0  30730.00  31479.70
 ...          ...        ...       ...      ...       ...       ...
 1806      ZOMATO 2023-12-04    118.75    123.9    116.25    119.95
 1807        ZOTA 2023-12-04    467.05    532.9    452.20    500.65
 1808       ZUARI 2023-12-04    171.05    189.0    170.25    181.05
 1809    ZUARIIND 2023-12-04    157.10    179.0    157.10    164.55
 1811   ZYDUSWELL 2023-12-04   1553.10   1575.0   1538.00   1557.95

       prev_close  pct_change     volume
 0         176.45    3.598753     629818
 1          24.30    9.876543      38603
 2         585.80   10.541140   17251365
 3          44.60    0.672646    6307124
 4       31088.45    1.258506      18613
 ...          ...         ...        ...
 1806      116.30    3.138435  268408996
 1807      460.10    8.813301    1271551
 1808      169.30    6.940343    5601777
 1809      157.10    4.742202    1785065
 1811     1542.70    0.988527     192265

 [1105 rows x 9 columns],
 'losers':           symbol start_date      open      high       low     close  \
 6         5PAISA 2023-12-04    530.00    530.00    489.00    495.40
 8        AAATECH 2023-12-04     75.50     77.00     71.80     73.15
 15     AARVEEDEN 2023-12-04     27.40     27.45     24.25     25.30
 16         AARVI 2023-12-04    169.80    170.00    141.65    143.20
 19    ABBOTINDIA 2023-12-04  23920.00  23920.00  22728.65  22858.00
 ...          ...        ...       ...       ...       ...       ...
 1802      ZENTEC 2023-12-04    790.00    792.00    737.00    743.50
 1803   ZFCVINDIA 2023-12-04  16344.95  16702.55  15755.70  15873.80
 1804      ZIMLAB 2023-12-04    115.30    116.40    112.05    112.70
 1805  ZODIACLOTH 2023-12-04    139.70    139.70    131.55    133.80
 1810   ZYDUSLIFE 2023-12-04    648.00    664.95    630.00    638.55

       prev_close  pct_change   volume
 6         514.65   -3.740406   526155
 8          74.90   -2.336449   239513
 15         26.60   -4.887218   293500
 16        146.55   -2.285909   505181
 19      23679.50   -3.469246    99433
 ...          ...         ...      ...
 1802      771.15   -3.585554   761476
 1803    16145.20   -1.680995    46281
 1804      114.70   -1.743679   736075
 1805      136.20   -1.762115   137181
 1810      639.70   -0.179772  7971432

 [690 rows x 9 columns],
 'no_change':           symbol start_date     open     high     low    close  prev_close  \
 24    ABSLLIQUID 2023-12-04   999.99  1000.01  999.99  1000.00     1000.00
 80     ALPSINDUS 2023-12-04     2.10     2.10    1.95     2.00        2.00
 617   HDFCLIQUID 2023-12-04  1000.00  1000.01  999.49  1000.00     1000.00
 704     ICICILIQ 2023-12-04  1000.01  1000.24  999.99   999.99      999.99
 771    INVENTURE 2023-12-04     2.30     2.35    2.20     2.25        2.25
 810   JAYNECOIND 2023-12-04    46.70    46.85   42.05    45.20       45.20
 872         KECL 2023-12-04   119.25   121.40  113.65   116.80      116.80
 903     KOTAKLIQ 2023-12-04  1000.00  1000.01  999.99   999.99      999.99
 962   LIQUIDBEES 2023-12-04  1001.99  1003.65  996.35  1000.00     1000.00
 964    LIQUIDSBI 2023-12-04  1000.01  1000.01  999.99  1000.01     1000.01
 1524   SOUTHBANK 2023-12-04    25.50    26.05   24.80    24.95       24.95
 1644     TIJARIA 2023-12-04     6.30     6.45    6.10     6.30        6.30
 1688         UDS 2023-12-04   269.45   274.50  264.05   266.85      266.85
 1710        URJA 2023-12-04    12.20    12.80   11.60    12.05       12.05
 1724   VAKRANGEE 2023-12-04    18.85    19.60   18.40    18.65       18.65
 1731         VCL 2023-12-04     1.65     1.70    1.60     1.65        1.65
 1745   VIKASLIFE 2023-12-04     5.05     5.20    4.90     5.00        5.00

       pct_change     volume
 24           0.0      16181
 80           0.0     438336
 617          0.0    2402060
 704          0.0    5845834
 771          0.0   13255072
 810          0.0    3380857
 872          0.0    1815141
 903          0.0       4672
 962          0.0   14133990
 964          0.0      31769
 1524         0.0  136679138
 1644         0.0      98156
 1688         0.0     513934
 1710         0.0   72986545
 1724         0.0   64002970
 1731         0.0    4055811
 1745         0.0   85582560  }

In [5]:
# gainers
gainers = data["gainers"]
gainers

,symbol,start_date,open,high,low,close,prev_close,pct_change,volume
0,20MICRONS,2023-12-04,178.15,197.0,162.60,182.80,176.45,3.598753,629818
1,21STCENMGM,2023-12-04,24.75,26.7,24.75,26.70,24.30,9.876543,38603
2,360ONE,2023-12-04,608.95,657.8,597.25,647.55,585.80,10.541140,17251365
3,3IINFOLTD,2023-12-04,45.10,47.8,43.35,44.90,44.60,0.672646,6307124
4,3MINDIA,2023-12-04,31088.45,31650.0,30730.00,31479.70,31088.45,1.258506,18613
...,...,...,...,...,...,...,...,...,...
1806,ZOMATO,2023-12-04,118.75,123.9,116.25,119.95,116.30,3.138435,268408996
1807,ZOTA,2023-12-04,467.05,532.9,452.20,500.65,460.10,8.813301,1271551
1808,ZUARI,2023-12-04,171.05,189.0,170.25,181.05,169.30,6.940343,5601777
1809,ZUARIIND,2023-12-04,157.10,179.0,157.10,164.55,157.10,4.742202,1785065
1811,ZYDUSWELL,2023-12-04,1553.10,1575.0,1538.00,1557.95,1542.70,0.988527,192265

In [6]:
# losers
losers = data["losers"]
losers

,symbol,start_date,open,high,low,close,prev_close,pct_change,volume
6,5PAISA,2023-12-04,530.00,530.00,489.00,495.40,514.65,-3.740406,526155
8,AAATECH,2023-12-04,75.50,77.00,71.80,73.15,74.90,-2.336449,239513
15,AARVEEDEN,2023-12-04,27.40,27.45,24.25,25.30,26.60,-4.887218,293500
16,AARVI,2023-12-04,169.80,170.00,141.65,143.20,146.55,-2.285909,505181
19,ABBOTINDIA,2023-12-04,23920.00,23920.00,22728.65,22858.00,23679.50,-3.469246,99433
...,...,...,...,...,...,...,...,...,...
1802,ZENTEC,2023-12-04,790.00,792.00,737.00,743.50,771.15,-3.585554,761476
1803,ZFCVINDIA,2023-12-04,16344.95,16702.55,15755.70,15873.80,16145.20,-1.680995,46281
1804,ZIMLAB,2023-12-04,115.30,116.40,112.05,112.70,114.70,-1.743679,736075
1805,ZODIACLOTH,2023-12-04,139.70,139.70,131.55,133.80,136.20,-1.762115,137181
1810,ZYDUSLIFE,2023-12-04,648.00,664.95,630.00,638.55,639.70,-0.179772,7971432

In [7]:
no_change = data["no_change"]
no_change

,symbol,start_date,open,high,low,close,prev_close,pct_change,volume
24,ABSLLIQUID,2023-12-04,999.99,1000.01,999.99,1000.00,1000.00,0.0,16181
80,ALPSINDUS,2023-12-04,2.10,2.10,1.95,2.00,2.00,0.0,438336
617,HDFCLIQUID,2023-12-04,1000.00,1000.01,999.49,1000.00,1000.00,0.0,2402060
704,ICICILIQ,2023-12-04,1000.01,1000.24,999.99,999.99,999.99,0.0,5845834
771,INVENTURE,2023-12-04,2.30,2.35,2.20,2.25,2.25,0.0,13255072
810,JAYNECOIND,2023-12-04,46.70,46.85,42.05,45.20,45.20,0.0,3380857
872,KECL,2023-12-04,119.25,121.40,113.65,116.80,116.80,0.0,1815141
903,KOTAKLIQ,2023-12-04,1000.00,1000.01,999.99,999.99,999.99,0.0,4672
962,LIQUIDBEES,2023-12-04,1001.99,1003.65,996.35,1000.00,1000.00,0.0,14133990
964,LIQUIDSBI,2023-12-04,1000.01,1000.01,999.99,1000.01,1000.01,0.0,31769
1524,SOUTHBANK,2023-12-04,25.50,26.05,24.80,24.95,24.95,0.0,136679138
1644,TIJARIA,2023-12-04,6.30,6.45,6.10,6.30,6.30,0.0,98156
1688,UDS,2023-12-04,269.45,274.50,264.05,266.85,266.85,0.0,513934
1710,URJA,2023-12-04,12.20,12.80,11.60,12.05,12.05,0.0,72986545
1724,VAKRANGEE,2023-12-04,18.85,19.60,18.40,18.65,18.65,0.0,64002970
1731,VCL,2023-12-04,1.65,1.70,1.60,1.65,1.65,0.0,4055811
1745,VIKASLIFE,2023-12-04,5.05,5.20,4.90,5.00,5.00,0.0,85582560

In [8]:
gainers.sort_values(by='pct_change', ascending=False)

,symbol,start_date,open,high,low,close,prev_close,pct_change,volume
9,AAKASH,2023-12-04,7.10,12.75,6.95,12.75,6.95,83.453237,20675348
144,ATGL,2023-12-04,770.00,1259.40,712.00,1156.80,701.45,64.915532,86841860
281,CCHHL,2023-12-04,10.15,16.30,10.15,14.80,9.75,51.794872,14980108
35,ADANIGREEN,2023-12-04,1160.00,1700.00,1092.55,1550.30,1026.50,51.027764,58944243
1530,SPENCERS,2023-12-04,79.05,120.00,77.15,117.30,77.80,50.771208,26984673
...,...,...,...,...,...,...,...,...,...
1638,THOMASCOOK,2023-12-04,148.00,159.40,145.00,147.25,147.20,0.033967,25892281
1416,SATIN,2023-12-04,254.50,254.50,235.90,245.40,245.35,0.020379,2532765
1057,MHRIL,2023-12-04,393.00,397.90,386.55,391.60,391.55,0.012770,572496
1615,TCIEXP,2023-12-04,1419.00,1447.75,1393.00,1404.10,1404.00,0.007123,140720
963,LIQUIDETF,2023-12-04,1000.00,1000.01,999.99,1000.00,999.99,0.001000,1667958

In [9]:
losers.sort_values(by='pct_change', ascending=True)

,symbol,start_date,open,high,low,close,prev_close,pct_change,volume
1229,PAYTM,2023-12-04,878.35,881.15,637.00,651.25,870.65,-25.199564,61099802
1720,UTTAMSUGAR,2023-12-04,508.90,511.20,385.95,394.25,501.70,-21.417182,4779819
990,MAGADSUGAR,2023-12-04,798.20,810.00,622.00,628.25,791.85,-20.660479,726849
154,AVADHSUGAR,2023-12-04,818.50,830.65,652.90,658.45,806.55,-18.362160,1886112
495,FLAIR,2023-12-04,405.85,425.95,371.25,372.95,450.90,-17.287647,14784035
...,...,...,...,...,...,...,...,...,...
430,EBBETF0430,2023-12-04,1350.05,1350.05,1271.90,1310.18,1310.74,-0.042724,109137
1649,TIPSINDLTD,2023-12-04,364.65,368.75,347.15,357.50,357.65,-0.041940,804494
1249,PIDILITIND,2023-12-04,2576.00,2628.00,2545.00,2561.65,2562.15,-0.019515,1795288
453,EMSLIMITED,2023-12-04,479.70,487.60,448.10,456.90,456.95,-0.010942,1316568
961,LIQUID,2023-12-04,999.99,1000.01,999.99,999.99,1000.00,-0.001000,1103755